/* Colors */

$black: rgba(0, 0, 0, 1);
$gray: rgba(130, 130, 130, 1);
$gray-secondary: rgba(79, 79, 79, 1);
$mar40: 40px;

/* font */
$SF: 'SF';

$base-font-size: 16;

// strips away any unit from a value: e.g. "16px" => 16
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function rem($size, $base: $base-font-size) {
  $pxUnitless: strip-unit($size);
  @return #{$pxUnitless / $base}rem;
}
